{%extends 'base.html'%}

{%block head%}
{%endblock%}

{%block body%}
<h1 style="text-align: center">System Information</h1>
<div class="container mt-2">
    <form action="/power" method="POST">
        <div class="row">
            <div class="col mr-3">
                <div class="row">
                    <div class="row">
                        <h3 style="text-align: center">Solar Roof Location</h3>
                    </div>
                    <div class="row">
                        <div class="table-responsive col-md">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td><strong>Address: </strong> {{feature.address}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Coordinates: </strong> ({{feature.lat}}, {{feature.lng}})</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Estimated array area [m<sup>2</sup>]: </strong><input readonly
                                                name="area" type="number" class="form-control"
                                                aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default"
                                                value="{{feature.area|round(2) }}"></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Estimated DC system size [kW]: </strong><input readonly
                                                name="DC_syst_size" type="number" class="form-control"
                                                aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default"
                                                value="{{DC_syst_size|round(2) }}"></td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive col-md">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td><strong>New area [m<sup>2</sup>]: </strong><input readonly name="new_area"
                                            type="number" id="calculated-area" class="form-control"
                                            aria-label="Default" aria-describedby="inputGroup-sizing-default"></td>
                                </tr>
                                <tr>
                                    <td><strong>Re-estimated DC system size [kW]: </strong><input readonly
                                            name="new_capacity" id="estimated-capacity" type="number"
                                            class="form-control" aria-label="Sizing example input"
                                            aria-describedby="inputGroup-sizing-default"
                                            value="{{feature.area|round(2) }}"></td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="row mt-5">
                    <div id='satellite-map-details' style='width: 450px; height: 450px; margin: auto;'></div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <h3 style="text-align: center">System info</h3>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Module type</label>
                                </div>
                                <select name="module_type" class="custom-select" id="inputGroupSelect01">
                                    <option selected value="0">Standard</option>
                                    <option value="1">Premiuim</option>
                                    <option value="2">Thin film</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Array type</label>
                                </div>
                                <select name="array_type" class="custom-select" id="inputGroupSelect01">
                                    <option value="0">Fixed (open rack)</option>
                                    <option selected value="1">Fixed (roof mount)</option>
                                    <option value="2">1-axis tracking</option>
                                    <option value="3">1-axis backtracking</option>
                                    <option value="4">2-axis tracking</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">System Losses
                                        (%)</span>
                                </div>
                                <input name="system_loss" type="number" value="14.48" class="form-control"
                                    aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Tilt (deg)</span>
                                </div>
                                <input name="tilt" type="number" value="20" class="form-control" aria-label="Default"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Azimuth (deg)</span>
                                </div>
                                <input name="azimuth" type="number" value="180" class="form-control"
                                    aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div class="row ">
                            <h3 style="text-align: center">Advanced parameters</h3>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">DC to AC Size
                                        Ratio</span>
                                </div>
                                <input name="dc_ac_ratio" type="number" value="1.2" class="form-control"
                                    aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Inverter Efficiency
                                        (%)</span>
                                </div>
                                <input name="inverter_eff" type="number" value="96" class="form-control"
                                    aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Ground Coverage
                                        Ratio</span>
                                </div>
                                <input name="ground_coverage" type="number" value="0.4" class="form-control"
                                    aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary btn-lrg mb-1" type="submit">Estimate energy capacity</button>
                <div id="calculated-area"></div>
            </div>
        </div>
            <input hidden name="lat" type="number" value="{{feature.lat}}">
            <input hidden name="lng" type="number" value="{{feature.lng}}">
    </form>



    <main>
        <div id='satellite-map-details' style='width: 400px; height: 400px; margin: auto;'></div>
    </main>

    <div hidden id="feature_data_div" data-lat="{{feature.lat}}" data-lng="{{feature.lng}}"></div>
    <div id="geo_data_div" data-geojson_data='{{ geojson_data|tojson }}'></div>


    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.3.0/mapbox-gl-draw.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.3.0/mapbox-gl-draw.css'
        type='text/css' />
    <!-- CODE TO ADD DRAW FUNCTIONALITY -->

    <script src="{{url_for('static', filename='js/details.js')}}"></script>
    {%endblock%}