{%extends 'base.html'%}

{%block head%}
{%endblock%}

{%block body%}
<h1 style="text-align: center">Power Output Estimation</h1>
<div class="container mt-2">
    <form action="#" method="POST">
        <div class="row">
            <div class="col mr-3">
                <div class="row">
                    <div class="row">
                        <h3 style="text-align: center">Solar Roof Location</h3>
                    </div>
                    <div class="row">
                        <div class="table-responseive col-md">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td><strong>Address: </strong> {{feature.address}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Coordinates: </strong> ({{feature.lat}}, {{feature.lng}})</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Estimated array area [m<sup>2</sup>]: </strong>{{feature.area|round(2) }}</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <h3 style="text-align: center">System info</h3>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">DC System Size
                                        (kW)</span>
                                </div>
                                <input type="number" class="form-control" aria-label="Default"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Module type</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01">
                                    <option selected value="0">Standard</option>
                                    <option value="1">Premiuim</option>
                                    <option value="2">Thin film</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Array type</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01">
                                    <option value="0">Fixed (open rack)</option>
                                    <option selected value="1">Fixed (roof mount)</option>
                                    <option value="2">1-axis tracking</option>
                                    <option value="3">1-axis backtracking</option>
                                    <option value="4">2-axis tracking</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">System Losses
                                        (%)</span>
                                </div>
                                <input type="number" value="14.48" class="form-control" aria-label="Default"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Tilt (deg)</span>
                                </div>
                                <input type="number" value="20" class="form-control" aria-label="Default"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Azimuth (deg)</span>
                                </div>
                                <input type="number" value="180" class="form-control" aria-label="Default"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row mt-5">
                    <div id='satellite-map-details' style='width: 350px; height: 350px; margin: auto;'></div>
                </div>
                <div class="row">
                    <div class="table-responseive col-md">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td><strong>New area [m<sup>2</sup>]: </strong><span id="calculated-area"></span></td>
                                </tr>
                            </thead>
                        </table>
                    </div>          
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div class="row ">
                            <h3 style="text-align: center">Advanced parameters</h3>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">DC to AC Size
                                        Ratio</span>
                                </div>
                                <input type="number" value="1.2" class="form-control" aria-label="Default"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Inverter Efficiency
                                        (%)</span>
                                </div>
                                <input type="number" value="96" class="form-control" aria-label="Default"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Ground Coverage
                                        Ratio</span>
                                </div>
                                <input type="number" value="0.4" class="form-control" aria-label="Default"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary btn-lrg mb-1" type="submit">Estimate power</button>
                <div id="calculated-area"></div>
            </div>
    </form>



    <main>
        <div id='satellite-map-details' style='width: 400px; height: 400px; margin: auto;'></div>
    </main>

    <div hidden id="feature_data_div" data-lat="{{feature.lat}}" data-lng="{{feature.lng}}"></div>
    <div id="geo_data_div" data-geojson_data='{{ geojson_data|tojson }}'></div>

    <!-- CODE TO ADD DRAW FUNCTIONALITY -->
    <!-- <style>
        .calculation-box {
            height: 75px;
            width: 150px;
            position: absolute;
            bottom: 40px;
            left: 10px;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 15px;
            text-align: center;
        }

        p {
            font-family: 'Open Sans';
            margin: 0;
            font-size: 13px;
        }
    </style> -->

    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.3.0/mapbox-gl-draw.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.3.0/mapbox-gl-draw.css'
        type='text/css' />
    <!-- CODE TO ADD DRAW FUNCTIONALITY -->

    <script src="{{url_for('static', filename='js/details.js')}}"></script>
    {%endblock%}