{%extends 'base.html'%}

{%block head%}
<h1 style="text-align: center">Residential PV Solar Finder</h1>
<style>
  /* Popup container - can be anything you want */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  </style>
{%endblock%}

{%block body%} 
    <h3 style="text-align: center">The model is finished! Check results below.</h3>
    <div class="content">
        {%if features|length < 1%}
            <h3 style="text-align: center">No solar roofs found.</h3>
        {%else%}
        <div id="wrapper">
          <div class="container d-flex justify-content-center ">
            <div class="row">
              <div class="table-responseive col-md-7">
                <table class="table table-bordered" >
                    <thead>
                      <tr>
                        <th scope="col">Address</th>
                        <th scope="col">Polygon area [m<sup>2</sup>]</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for feature in features %}
                        
                      <tr>
                        <td>
                            {{feature.address}}
                        </td>
                        <td>
                            {{feature.area|round(2)}}
                        </td>
                        <td>
                            <button 
                            style="min-width: 70px;" 
                            data-lng = "{{feature.lng}}" 
                            data-lat = "{{feature.lat}}" 
                            data-area = "{{feature.area}}"
                            data-feature_id = "{{feature.id}}"
                            class="btn btn-primary btn-sm mb-1" 
                            id = "view_but{{loop.index0}}">View</button>
                            <a
                            style="min-width: 70px;" 
                            class="btn btn-primary btn-sm mb-1" 
                            id = "details_but{{loop.index0}}"
                            href = "/details/{{feature.id}}">
                              Details
                            </a>
                            <form action="/delete/{{feature.id}}" method = "POST" >
                           <button
                           style="min-width: 70px;"  
                            data-lng = "{{feature.lng}}" 
                            data-lat = "{{feature.lat}}" 
                            data-area = "{{feature.area}}"
                            data-feature_id = "{{feature.id}}"
                            class="btn btn-primary btn-sm mt-1"
                            id = "remove_but{{loop.index0}}">Remove</button> 
                          </form>
                        </td>
                    </tr>
                    
                    {% endfor %}
                    </tbody>
                  </table>
              </div>
              <div class="table-responseive col-md-5">
                <div class="row">
                    <table class="table table-bordered"  >
                        <thead>
                          <tr>
                            <th>Number of solar roofs: {{features|length}}</th>
                          </tr>
                          <tr>
                            <th>Total area: {{ (features|sum(attribute='area'))|round(2) }}m<sup>2</sup></th>
                          </tr>
                          <tr>
                            <th>Preliminary total estimated energy production capacity: {{total_power|round(2)}}kWH</th>
                          </tr>
                        </thead>
                      </table>
                </div>
                <div class="row">
                  <div class="popup" onclick="myFunction()"><b>Click for system parameter assumptions</b>
                    <span class="popuptext" id="myPopup">
                      Module type: Standard<br>
                      Array type: Fixed (roof mount)<br>
                      System losses: 14.48%<br>
                      Tilt angle: 20 degrees<br>
                      Azimuth angle: 180 degrees<br> 
                      DC to AC ratio: 1.2<br>
                      Inverter efficiency: 96%<br> 
                      Ground coverage ratio: 0.4
                    </span>
                  </div> 
                </div>
                <div class="row">
                    <div id='satellite-map' style='width: 500px; height: 400px; margin: auto;'></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {%endif%}
    </div>

    <main>
        <div id='satellite-map' style='width: 400px; height: 400px; margin: auto;'></div>
    </main>


    <div id="geo_data_div" data-geojson_data='{{ geojson_data|tojson }}'></div>
    <script src="{{url_for('static', filename='js/finished.js')}}"></script>
    <script>
      // When the user clicks on <div>, open the popup
      function myFunction() {
        var popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
      }
      </script>
{%endblock%}