{%extends 'base.html'%}

{%block head%}
<h1 style="text-align: center">My app</h1>
{%endblock%}

{%block body%} 
    <h3 style="text-align: center">The model is finished! Check results below.</h3>
    <div class="content">
        {%if addresses|length < 1%}
            <h3>No solar roofs found.</h3>
        {%else%}
        <div id="wrapper">
          <div class="container d-flex justify-content-center ">
            <div class="row">
              <div class="table-responseive col-md-7">
                <table class="table table-bordered" >
                    <thead>
                      <tr>
                        <th scope="col">Address</th>
                        <th scope="col">Polygon area [m<sup>2</sup>]</th>
                        <th scope="col">Estimated peak power [kW]</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for address in addresses %}
                        
                          <tr>
                            <td>
                                {{address}}
                            </td>
                            <td>
                                {{geojson_data.features[loop.index0].properties.area|round(2)}}
                            </td>
                            <td scope="col">some number</td>
                            <td>
                                <button 
                                data-coords = "{{coords[loop.index0]|tojson}}" 
                                data-area = "geojson_data[loop.index0].properties.area"
                                class="btn btn-primary btn-sm mb-1" 
                                id = "view_but{{loop.index0}}">View</button>
                                <form action="/finished" method = "POST" name = "place-form">                                <button 
                                data-coords = "{{coords[loop.index0]|tojson}}"
                                data-area = "{{geojson_data.features[loop.index0].properties.area|tojson}}"
                                data-feature_num = "{{loop.index0}}"
                                class="btn btn-primary btn-sm mt-1"
                                id = "remove_but{{loop.index0}}">Remove</button> 
                                <input type="hidden" value="{{loop.index0}}" name = "index">
                              </form>
                            </td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                  </table>
              </div>
              <div class="table-responseive col-md-5">
                <div class="row">
                    <table class="table table-bordered"  >
                        <thead>
                          <tr>
                            <th>Number of solar roofs: </th>
                          </tr>
                          <tr>
                            <th>Total area: </th>
                          </tr>
                        </thead>
                      </table>
                </div>
                <div class="row">
                    <div id='satellite-map' style='width: 500px; height: 400px; margin: auto;'></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {%endif%}
    </div>

    <main>
        <div id='satellite-map' style='width: 400px; height: 400px; margin: auto;'></div>
    </main>


    <div id="geo_data_div" data-geojson_data='{{ geojson_data|tojson }}'></div>
    <!-- CODE TO ADD DRAW FUNCTIONALITY -->
    <style>
        .calculation-box {
        height: 120px;
        width: 100px;
        position: absolute;
        bottom: 90px;
        left: 740px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        text-align: center;
        }
         
        p {
        font-family: 'Open Sans';
        margin: 0;
        font-size: 13px;
        }
        </style>
        <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css">
        <div id="satellite-map"></div>
        <div class="calculation-box">
        <p>Click the map to draw a polygon.</p>
        <div id="calculated-area"></div>
        </div>
        <!-- CODE TO ADD DRAW FUNCTIONALITY -->

    <script src="{{url_for('static', filename='js/satelliteMap.js')}}"></script>
{%endblock%}