{%extends 'base.html'%}

{%block head%}
<h1 style="text-align: center">Residential PV Solar Finder</h1>
{%endblock%}

{%block body%}

<main>
    <div id='map' style='width: 600px; height: 400px; margin: 25px auto;'></div>
</main>

<form action="/running" method="POST" name="runModel-form">
    <div class="container">
        <div class="form-row justify-content-center">
                <button style="min-width: 220px;" class="btn btn-primary btn-lg mr-2" id=valSelBut>Extract polygons</button>
                <button style="min-width: 220px;"  class="btn btn-primary btn-lg ml-2" id=rasterBut>Download raster tiles</button>
        </div>
        <div class="form-row justify-content-center">
            <button type="submit" class="btn btn-primary btn-lg mt-2">Run model</button>
        </div>
    </div>
</form>


</div>
<script src="{{url_for('static', filename='js/index_js.js')}}"></script>
<script src="{{url_for('static', filename='js/map.js')}}"></script>

{%endblock%}